/** Admin Styles **/

code{
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    display: block;
    font-size: 13px;
    line-height: 1.42857;
    margin: 0 0 10px;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
}

/***** Admin Fields Styles *****/
table.pssbFields {
    width: 100%;
}

input#pssbUploadImage {
    width: 60%;
}

div.pssbSocialButtons {
    text-align: left;
}

/***** Admin Errors and Notices ******/
div.field_error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 5px 7px;
    width: 93%;
}
div.pssb-error-notice{
    background-color: #f2dede;
    color: #a94442;
}
/*** Admin Settings Page ***/
table tr.pssbSettingsInfoRow td{
    padding: 0px;
}
span.pssbSettingsInfoMessage{
    padding: 0px;
    font-size: 12px;
    font-style: italic;
}